/* 
open issues
- size image dynamically according to text & button height?
*/


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

button {
    padding: 8px 30px;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
    color: #DA4167;
    background-color: #ffdcbd;
    flex-grow: 0;
    flex-shrink: 0;
}

button:hover, :focus {
    background-color: #FCB97D;
}

button:active {
    background-color: #DA4167;
    color: #ffdcbd;
}

a {
    text-decoration: none;
    color: #083d77;
}

a:hover {
    color: #DA4167;
}

.header, .section-1, .section-2, .section-3, .section-4, .footer {
   padding-top: 50px;
    padding-right: 20%;
    padding-bottom: 50px;
    padding-left: 20%;
}

/* header */ 
.header {
    background-color: #d9cce6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #083d77;
}

/* section 1 */
.section-1 {
    background-color: #d9cce6;
    display: flex;
    flex-direction: row;
    gap: 50px;

    padding-top: 30px;
    padding-bottom: 80px;

    color: white;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #DA4167;

    margin-top: 0px;
    margin-bottom: 0px;
}

.section-1 img {
    max-height: 250px;
    object-fit: contain;
}

.section-1 button {
    align-self: flex-start;
}

/* section 2 */
.section-2 {
    background-color: white;
    text-align: center;
    color: darkgray;
    padding-bottom: 50px;
}

.section-2 h2 {
    color: #FCB97D;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.image-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.image1, .image2, .image3, .image4 {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    gap: 15px;
}
.image1 {
    background-color: #d9cce6;
}

.image2 {
    background-color: #FCB97D;
}

.image3 {
    background-color: #DA4167;
}

.image4 {
    background-color: #545677;
}

/* section 3 */
.section-3 {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;

    /* TODO: unsure why font-weight is not displaying light correctly */
    font-weight: 100;
}

.attribution {
    text-align: right;
    font-weight: bold;
}

/* section 4 */
.section-4 {
    background-color: white;
}

.CTA-box {
    background-color: #ccebe8;
    border-radius: 3px;
    padding: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.section-4 h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.section-4 p {
    margin: 0;
}

/* footer */
.footer {
    background-color: #1F2937;
    color: #e5e7eb;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
}

.footer a {
    color: #FCB97D;
}